[user]
	email = taiga.shichisan@gmail.com
	name = Shichisan

[core]
  editor = nvim

[color]
  ui = auto

[push]
  default = current

[pull]
  rebase = preserve

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[ghq]
	root = /Users/taigaishii/dev/src
